@media only screen and (min-width: 600px) {

	{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: repeat(3, 1fr)
	
	}


	/* main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(2) {
		display: grid;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: grid;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	} */
}
