
  html {
    max-width:1000px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
  }
  
  header {
    background-color: pink;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 170px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  
  header h1 {
    text-align: center;
    color: black;
    font-size: 3em;
    
  }

  header h2 {
    text-align: center;
    color: black;
    font-size: 2em;
  }

  main h3 {
    text-align: center;
    font-size: 20px;
    padding: 1em;
    background-color: gray;
  }

  main h4 {
    text-align: center;

  }
  
  main {
    display: grid;
    margin-left: 10px;
    margin-bottom: 10px;
    width:auto;

  }
  
  section {
    
    background-color: aliceblue;
    
  }
  section p {
    text-align: justify;
    padding:  0em 1em;
  }

.column1 {
    display: grid;
    width: 350px;
    grid-template-columns: repeat(1, 1fr);
    

  }

  .column2 {
    display: grid;
    width: 350px;
    grid-template-columns: repeat(1, 2fr);
    
    
  }

  .column3 {
    display: grid;
    width: 350px;
  }
 
  img {
    width: 300px;
    height: auto;
    padding: 1em 1em 1em 1em;
  }
  
  
  footer {
    background-color: pink;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  
  footer p {
    text-align: center;
    color: black;
  }
  
  footer .lastUpdated {
    font-size: 0.9em;
    margin: 10px;
  }



