
  html {
    font-family: 'Ubuntu', sans-serif;
    color: #3D2F33;
  }
  
  header {
    background-color: #44CBB1;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  
  header h1 {
    text-align: center;
    color: #3D2F33;
    font-size: 3em;
    margin:0px;
    
    
  }

  header h2 {
    text-align: center;
    color: #3D2F33;
    font-size: 2em;
    background: 
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  .navlinks{
    display: flex;
    
    
  }

 
  main {
    margin-bottom: 10px;
    width: auto;

  }

  h1 {
    background-color: #44CBB1;
    border-radius: 10px;
    max-height: 50px;
    text-align: center;
  }
  
  
  main p {
    padding: 1em;
    text-align: center;
    font-size: 30px;
  }

 
  img {
    width: 200px;
    height: auto;
    padding: 1em 1em 1em 1em;
    box-sizing: border-box;
    border-radius: 60px;
  }
  
  
  footer {
    background-color: #44CBB1;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  
  footer p {
    text-align: center;
    color: #3D2F33;
  }
  
  footer .lastUpdated {
    font-size: 0.9em;
    margin: 10px;
  }