
  html {
    font-family: 'Ubuntu', sans-serif;
    color: #3D2F33;
  }
  
  header {
    background-color: #44CBB1;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  
  header h1 {
    text-align: center;
    color: #3D2F33;
    font-size: 3em;
    margin:0px;
    
    
  }

  header h2 {
    text-align: center;
    color: #3D2F33;
    font-size: 2em;
    background: 
  }

  nav {
    display: flex;
    line-height: 2em;
    text-align: center;
    font-size: 1.1em;
  }

  .heading {
    color: #861657;
    background-color: #ffa69e;

  }
  .main-background {
    color: #AA4465;
    background-color: #DDFFF7;
  }
  .navigation {
    color: #DDFFF7;
    background-color: #93E1D8;
  }
  .navigation-hover {
    color:#861657;
    background-color: #93E1D8;
  }
  .heading-text {
    font-family: impact;
    background-color: white;
    font-size: 3em;
  }
.paragraph-text {
    font-family: 'Ubuntu' sans-serif;
    font-size: 1em;
}
.footer-text {
    font-family: Trebuchet Ms;
    font-size: 0.75em;
}
.nav-text {
  font-family: 'Ubuntu' sans-serif;
  font-size: 2em;
  
}
.title-text {
  font-family: impact;
  font-size: 4em;
}
  
  main {
    margin-bottom: 10px;
    width: auto;

  }

  h1 {
    background-color: #44CBB1;
    border-radius: 10px;
    max-height: 50px;
    text-align: center;
  }
  
  
  main p {
    padding: 1em;
    text-align: center;
    font-size: 30px;
    color: #3D2F33;
  }

 
  img {
    width: 200px;
    height: auto;
    padding: 1em 1em 1em 1em;
    box-sizing: border-box;
    border-radius: 60px;
  }
  
  
  footer {
    background-color: #44CBB1;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  
  footer p {
    text-align: center;
    color: #3D2F33;
  }
  
  footer .lastUpdated {
    font-size: 0.9em;
    margin: 10px;
  }