
  html {
    font-family: 'Ubuntu', sans-serif;
  }
  
  header {
    color: #861657;
    background-color: #ffa69e;
    font-family: impact;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  h2 {
    vertical-align: center;
    text-align: center;
  }
  
  * {
    font-family: "Ubuntu" sans-serif;
    box-sizing: border-box;
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #93E1D8;
    font-size: 2em;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

  header h1 {
    text-align: center;
    color: #861657;
    font-size: 3em;
    margin:0px;
    
  }

  header h2 {
    text-align: center;
    color: black;
    font-size: 2em;
  }


  main h3 {
    text-align: center;
    font-family: impact;
    font-size: 20px;
    padding: 1em;
    background-color: gray;
    margin-top: 0px;
    border-radius: 10px;
    max-height: 20px;

  }

  
  section {
    margin-bottom:15px;
    color: #AA4465;
    background-color: #DDFFF7;

  }

  h3 {
    font-family: impact;
    font-size: 2em;
    justify-content: center;
  }
  section p {
    text-align: justify;
    padding:  0em 1em;
  }
  .column1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .column2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .column3 {
    display: grid;
  }
  .column4 {
    display: grid;
  }
  .column5 {
    display: grid;
  }
  .column6 {
    display: grid;
  }
 

 
  img {
    max-width: 150px;
    height: auto;
    padding: 1em 1em 1em 1em;
    box-sizing: border-box;
  }
  body {
    padding: 2em;
  }
  
  footer {
    background-color: #ffa69e;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  
  footer p {
    text-align: center;
    color: black;
  }
  
  footer .lastUpdated {
    font-size: 0.9em;
    margin: 10px;
  }