
  html {
    max-width: 750px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
  }
  
  header {
    display: flex;
    flex-direction: row;
    background-color: pink;
    border-radius: 10px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  header img {
    float: left;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
  }
  
  header h1 {
    display: flex;
    flex-direction:row;
    color: black;
    font-size: 3em;
    text-align: center;
    margin-left: 100px;
    
  }
  
  main {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  main h2 {
    padding-bottom: 6px;
    margin-bottom: 8px;
    margin-right: 10px;
    border-bottom: 2px solid #c2c2c2;
  }
  
  main ul {
    margin-top: 8px;
    padding: 15px 20px;
    border-bottom: 2px solid #c2c2c2;
  }
  
  footer {
    background-color: pink;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
 
  footer p {
    text-align: center;
    color: black;
  }
  
  footer .last-updated {
    font-size: 0.9em;
    margin-top: -8px;
  }
  